

* {
	margin: 0;
	padding: 0;
	box-shadow: border-box;
}

body {
	font-size: 1.7rem;
	font-family: sans-serif;
	background: #2c3e50;
	color: #ececec;
	padding: 4rem;
}

h2 {
	text-align: center;
	margin-bottom: 5rem;
	font-size: 4rem;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 340px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product:hover img{
	scale: 1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited {
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #21201e;
}
